@import '_colors';

.custom-form-field {
   p {
      color: $secondaryLightLow;
      margin-bottom: .5em;
   }
}
.custom-form-field div {
   margin-bottom: 1em;
}
.mat-slide-toggle {
   margin: 1em 0;
}