<mat-tab-group [color]="'primary'" [backgroundColor]="'primary'" (selectedTabChange)="changeSelectedIndex($event)" [selectedIndex]="selectedIndex">
   <mat-tab label="Comida">
      <mat-tab-group [color]="'accent'" [backgroundColor]="'accent'" class="bottomTabs" (selectedTabChange)="changeSelectedIndex2($event)" [selectedIndex]="selectedIndex2">
         <mat-tab label="Comida">
            <div *ngIf="food">
               <div class="wrapper">
                  <h2 class="mat-title flex">Comida <span matBadge="{{ foodCount }}"></span></h2>
               </div>
               <form>
                  <mat-form-field>
                     <input matInput type="text" placeholder="Buscar" [(ngModel)]="filterFood" name="filterFood">
                     <button mat-button *ngIf="filterFood" matSuffix mat-icon-button aria-label="Clear" (click)="filterFood=''">
                        <mat-icon>close</mat-icon>
                     </button>
                  </mat-form-field>
               </form>
               <mat-card *ngFor="let foodItem of food | collectionFilter: filterFood : 'name'" data-id="{{ foodItem._id }}" routerLink="/aprovisionamiento/comida/{{ foodItem._id }}">
                  <mat-card-content>
                     <div class="left">
                        <p class="date">{{ foodItem.expiry | date: 'dd-MM-yyyy' }}</p>
                     </div>
                     <div class="right">
                        <div>
                           <p class="name">{{ foodItem.name }}</p>
                        </div>
                     </div>
                  </mat-card-content>
               </mat-card>
            </div>
         </mat-tab>
         <mat-tab label="Recetas">
            <div *ngIf="recipees">
               <div class="wrapper">
                  <h2 class="mat-title flex">Recetas <span matBadge="{{ recipeesCount }}"></span></h2>
               </div>
               <form>
                  <mat-form-field>
                     <input matInput type="text" placeholder="Buscar" [(ngModel)]="filterRecipees" name="filterRecipees">
                     <button mat-button *ngIf="filterRecipees" matSuffix mat-icon-button aria-label="Clear" (click)="filterRecipees=''">
                        <mat-icon>close</mat-icon>
                     </button>
                  </mat-form-field>
               </form>
               <mat-card *ngFor="let recipee of recipees | collectionFilter: filterRecipees : 'name'" data-id="{{ recipee._id }}" class="recipee" routerLink="/aprovisionamiento/receta/{{ recipee._id }}">
                  <mat-card-content>
                     <div class="left">
                        <p class="date">{{ recipee.name }}</p>
                     </div>
                     <div class="right">
                        <div>
                           <h4>Ingredientes</h4>
                           <p><span *ngFor="let ingredient of recipee.ingredients; let isLast=last">{{ ingredient }}{{ isLast ? '' : ', ' }}</span></p>
                        </div>
                     </div>
                  </mat-card-content>
               </mat-card>
            </div>
         </mat-tab>
      </mat-tab-group>
   </mat-tab>
   <mat-tab label="Bebida">
      <mat-tab-group [color]="'accent'" [backgroundColor]="'accent'" class="bottomTabs" (selectedTabChange)="changeSelectedIndex2($event)" [selectedIndex]="selectedIndex2">
         <mat-tab label="Bebida">
            <div *ngIf="drinks" class="completed">
               <div class="wrapper">
                  <h2 class="mat-title flex">Bebida <span matBadge="{{ drinksCount }}"></span></h2>
               </div>
               <form>
                  <mat-form-field>
                     <input matInput type="text" placeholder="Buscar" [(ngModel)]="filterDrinks" name="filterDrinks">
                     <button mat-button *ngIf="filterDrinks" matSuffix mat-icon-button aria-label="Clear" (click)="filterDrinks=''">
                        <mat-icon>close</mat-icon>
                     </button>
                  </mat-form-field>
               </form>
               <mat-card *ngFor="let drink of drinks | collectionFilter: filterDrinks : 'name'" data-id="{{ drink._id }}" routerLink="/aprovisionamiento/bebida/{{ drink._id }}">
                  <mat-card-content>
                     <div class="left">
                        <h3>{{ drink.name }}</h3>
                     </div>
                     <div class="right">
                        <p class="brand">{{ drink.brand }}</p>
                     </div>
                  </mat-card-content>
               </mat-card>
            </div>
         </mat-tab>
         <mat-tab label="Cócteles">
            <div *ngIf="cocktails">
               <div class="wrapper">
                  <h2 class="mat-title flex">Cócteles <span matBadge="{{ cocktailsCount }}"></span></h2>
               </div>
               <form>
                  <mat-form-field>
                     <input matInput type="text" placeholder="Buscar" [(ngModel)]="filterCocktails" name="filterCocktails">
                     <button mat-button *ngIf="filterCocktails" matSuffix mat-icon-button aria-label="Clear" (click)="filterCocktails=''">
                        <mat-icon>close</mat-icon>
                     </button>
                  </mat-form-field>
               </form>
               <mat-card *ngFor="let cocktail of cocktails | collectionFilter: filterCocktails : 'name'" data-id="{{ cocktail._id }}" class="cocktails" routerLink="/aprovisionamiento/coctel/{{ cocktail._id }}">
                  <mat-card-content>
                     <p>{{ cocktail.name }}</p>
                     <ul>
                        <li *ngFor="let ingredient of cocktail.ingredients">{{ ingredient }}</li>
                     </ul>
                  </mat-card-content>
               </mat-card>
            </div>
         </mat-tab>
      </mat-tab-group>
   </mat-tab>
</mat-tab-group>
<button mat-mini-fab (click)="addSomething()">
   <mat-icon>add</mat-icon>
</button>
