<h1 mat-dialog-title>Crear comida</h1>
<div mat-dialog-content>
   <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
   </mat-form-field>
   <mat-form-field>
      <input matInput placeholder="Desayuno">
   </mat-form-field>
   <mat-form-field>
      <input matInput placeholder="Comida">
   </mat-form-field>
   <mat-form-field>
      <input matInput placeholder="Cena">
   </mat-form-field>
</div>
<div mat-dialog-actions>
   <button color="accent" mat-raised-button (click)="onNoClick()">Cancelar</button>
   <button color="primary" mat-raised-button cdkFocusInitial>Crear</button>
</div>
