<mat-tab-group [color]="'primary'" [backgroundColor]="'primary'" 
(selectedTabChange)="changeSelectedIndex($event)" [selectedIndex]="selectedIndex"
(swipeleft)="nextSection()" (swiperight)="previousSection()" class="body">
   <mat-tab label="Comida">
      <mat-tab-group [color]="'accent'" [backgroundColor]="'accent'" class="bottomTabs" (selectedTabChange)="changeSelectedIndex2($event)" [selectedIndex]="selectedIndex2">
         <mat-tab label="Comidas">
            <ng-scrollbar>
               <div *ngIf="meals">
                  <div class="wrapper">
                     <h2 class="sectionTitle">Comidas <span matBadge="{{ mealsCount }}"></span></h2>
                     <p *ngIf="mealsCount == 0">Todavía no hay comidas, ¡crea una!</p>
                  </div>
                  <mat-card *ngFor="let meal of meals" data-id="{{ meal._id }}" routerLink="/cuerpo/comida/comidas/editar/{{ meal._id }}">
                     <mat-card-content>
                        <div class="flexBBw">
                           <div class="leftI">
                              <p class="date">{{ meal.date | dateFilter | uppercase }}</p>
                           </div>
                           <div class="rightI meals">
                              <div>
                                 <p class="heading">Desayuno</p>
                                 <p>
                                    <span *ngFor="let alimento of meal.breakfast; let isLast = last; let isFirst = first">
                                       {{ isFirst ? alimento : alimento | lowercase }}{{ isLast ? '' : ', ' }}
                                    </span>
                                 </p>
                              </div>
                              <div>
                                 <p class="heading">Comida</p>
                                 <p>
                                    <span *ngFor="let alimento of meal.lunch; let isLast = last; let isFirst = first">
                                       {{ isFirst? alimento : alimento | lowercase }}{{ isLast ? '' : ', ' }}
                                    </span>
                                 </p>
                              </div>
                              <div>
                                 <p class="heading">Cena</p>
                                 <p>
                                    <span *ngFor="let alimento of meal.dinner; let isLast = last; let isFirst = first">
                                       {{ isFirst ? alimento : alimento | lowercase }}{{ isLast ? '' : ', ' }}
                                    </span>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </mat-card-content>
                  </mat-card>
               </div>
            </ng-scrollbar>
         </mat-tab>
         <mat-tab label="Sugerencias">
            <ng-scrollbar>
               <div *ngIf="suggestions" class="suggestions">
                  <div class="wrapper">
                     <h2 class="sectionTitle">Sugerencias <span matBadge="{{ suggestionsCount }}"></span></h2>
                     <p *ngIf="suggestionsCount == 0">Todavía no hay sugerencias, ¡crea una!</p>
                     <mat-select [(value)]="selectedSeason" *ngIf="suggestionsCount > 0">
                        <mat-option *ngFor="let season of seasons"  [value]="season" (click)="changeSeason(season)">
                           {{ season }}
                        </mat-option>
                     </mat-select>
                  </div>
                  <div *ngFor="let suggestion of suggestions">
                     <mat-card data-id="{{ suggestion._id }}" class="suggestion" routerLink="/cuerpo/comida/sugerencias/editar/{{ suggestion._id }}" *ngIf="filterSuggestions(suggestion.season)">
                        <mat-card-content>
                           <p class="cardMain">{{ suggestion.name }}</p>
                           <p class="cardSecondary">
                              <span *ngFor="let ingredient of suggestion.ingredients; let isFirst = first; let isLast = last;">
                                 {{ isFirst ? ingredient : ingredient | lowercase }}{{ isLast ? '' : ', '}}
                              </span>
                           </p>
                        </mat-card-content>
                     </mat-card>
                  </div>
               </div>
            </ng-scrollbar>
         </mat-tab>
      </mat-tab-group>
   </mat-tab>
   <mat-tab label="Ejercicio">
      <mat-tab-group [color]="'accent'" [backgroundColor]="'accent'" class="bottomTabs" (selectedTabChange)="changeSelectedIndex2($event)" [selectedIndex]="selectedIndex2">
         <mat-tab label="Completados">
            <ng-scrollbar>
               <div *ngIf="completedExercises">
                  <div class="wrapper">
                     <h2 class="sectionTitle">Completados <span matBadge="{{ completedExercisesCount }}"></span></h2>
                     <p *ngIf="completedExercisesCount == 0">Todavía no hay ejercicios completados, ¡crea uno!</p>
                  </div>
                  <mat-card *ngFor="let completedExercise of completedExercisesMixed" data-id="{{ completedExercise._id }}" routerLink="/cuerpo/ejercicio/completados/editar/{{ completedExercise._id }}">
                     <mat-card-content>
                        <div class="flexBBw">
                           <div class="leftI">
                              <p class="date">{{ completedExercise.date | dateFilter | uppercase }}</p>
                           </div>
                           <div class="rightI">
                              <p class="cardMain">{{ completedExercise.exerciseName }}</p>
                              <p class="cardSecondary" *ngIf="completedExercise.weight">Peso: <em>{{ completedExercise.weight }} Kg</em></p>
                              <p class="cardSecondary"><span *ngIf="completedExercise.repetitions">Repeticiones: <em>{{ completedExercise.repetitions }}</em> | </span>Tiempo: <em>{{ completedExercise.time ? completedExercise.time + ' seg.': '-' }}</em></p>
                              <p class="cardSecondary"><span *ngIf="completedExercise.minHeart">Min./max. pulsaciones: <em>{{ completedExercise.minHeart }}</em> | <em>{{ completedExercise.maxHeart }} ppm</em></span></p>
                           </div>
                        </div>
                     </mat-card-content>
                  </mat-card>
               </div>
            </ng-scrollbar>
         </mat-tab>
         <mat-tab label="Listado">
            <ng-scrollbar>
               <div *ngIf="exercises">
                  <div class="wrapper">
                     <h2 class="sectionTitle">Ejercicios <span matBadge="{{ exercisesCount }}"></span></h2>
                     <p *ngIf="exercisesCount == 0">Todavía no hay ejercicios, ¡crea uno!</p>
                  </div>
                  <mat-card *ngFor="let exercise of exercises" data-id="{{ exercise._id }}" class="exercises" routerLink="/cuerpo/ejercicio/listado/editar/{{ exercise._id }}">
                     <mat-card-content>
                        <p class="cardMain">{{ exercise.name }}</p>
                        <p class="cardSecondary"><span *ngFor="let bodyPart of exercise.bodyParts; let isFirst = first; let isLast = last;">{{ isFirst ? bodyPart : bodyPart | lowercase }}{{ isLast ? '' : ', ' }}</span></p>
                     </mat-card-content>
                  </mat-card>
               </div>
            </ng-scrollbar>
         </mat-tab>
      </mat-tab-group>
   </mat-tab>
</mat-tab-group>
<button mat-mini-fab (click)="addSomething()">
   <mat-icon>add</mat-icon>
</button>
