@import '_colors';
@import '_typography';

p {
	color: $secondaryLightHigh;
	font-size: $fontSize;
	line-height: 1.3;
	margin-bottom: 1em;
	&.date {
		color: $secondaryLightLow;
		font-size: $fontSize-xs;
		margin-bottom: 0;
	}
}
.exercises {
	.mat-card-content {
		flex-direction: column;
	}
	ul {
		flex-wrap: wrap;
	}
	p,
	ul {
		width: 100%;
	}
	li {
		margin: 0;
		padding: 0 1.25em .5em 0;
		width: auto;
	}
}
.flexBBw {
	width: 100%;
	.cardSecondary {
		color: $secondaryLightLow !important;
		margin-bottom: .25rem;
		span {
			color: $secondary;
		}
	}
}
.meals {
	p {
		margin-bottom: .5em;
		&.heading {
			color: $secondaryLightHigh;
			font-weight: normal;
			font-size: .875em;
			margin-bottom: .25em;
			span {
				color: $secondaryLightLowest;
				font-size: 1.125em;
				padding-left: .25rem;
			}
		}
	}
	div:last-child p {
		margin-bottom: 0;
	}
}
.mat-select {
	margin-top: 2em;
}
.suggestions {
	.mat-card:last-child {
		margin-bottom: 1rem;
	}
	margin-bottom: 4rem;
}
