<mat-tab-group [color]="primary" [backgroundColor]="primary">
  <mat-tab label="Todo">
    <h2 class="mat-title flex">Tareas <span matBadge="{{ count }}"></span></h2>
    <mat-selection-list #todosList (selectionChange)="onSelection($event, todosList.selectedOptions.selected)">
      <mat-list-option *ngFor="let todo of todos" [value]="todo" [class.completed]="todo.completed">
          {{ todo.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-tab>
  <mat-tab label="Proyectos"></mat-tab>
</mat-tab-group>
<button mat-mini-fab>
  <mat-icon routerLink="/tareas/crear">add</mat-icon>
</button>