<mat-tab-group [color]="primary" [backgroundColor]="primary"
(selectedTabChange)="changeSelectedIndex($event)" [selectedIndex]="selectedIndex">
   <mat-tab label="Limpieza">
      <h2 class="mat-title flex">Limpieza <span matBadge="{{ tasksCount }}"></span></h2>
      <mat-card mat-ripple *ngFor="let task of tasks" routerLink="/mantenimiento/limpieza/{{ task._id }}">
         <mat-card-content>
            <div class="left">
               <h3>{{ task.place }}</h3>
               <h4>{{ task.date | date:'dd/MM/yyyy' }}</h4>
            </div>
            <div class="right">
               <h5 *ngFor="let t of task.tasks">{{ t }}</h5>
            </div>
         </mat-card-content>
      </mat-card>
      <button mat-mini-fab>
         <mat-icon routerLink="/mantenimiento/limpieza/crear">add</mat-icon>
      </button>
   </mat-tab>
   <mat-tab label="Plantas">
      <h2 class="mat-title flex">Plantas <span matBadge="{{ plantsCount }}"></span></h2>
      <mat-card mat-ripple *ngFor="let plant of plants" routerLink="/mantenimiento/plantas/{{ plant._id }}">
         <mat-card-content>
            <div class="left">
               <h3>{{ plant.name }}</h3>
               <h4>{{ plant.container }}</h4>
            </div>
            <div class="right">
               <h5>{{ plant.zone }}</h5>
            </div>
         </mat-card-content>
      </mat-card>
      <button mat-mini-fab>
         <mat-icon routerLink="/mantenimiento/plantas/crear">add</mat-icon>
      </button>
   </mat-tab>
</mat-tab-group>
