/* Minor Third */
$fontSize-hero: 8vw;
$fontSize-xxl: 2.074rem;
$fontSize-xl: 1.728rem;
$fontSize-l: 1.44rem;
$fontSize-m: 1.2rem;
$fontSize: 1rem;
$fontSize-s: 0.833rem;
$fontSize-xs: 0.694rem;
$fontSize-xxs: 0.579rem;
@mixin marginBottom($size, $parts) {
   margin-bottom: calc(#{$size}/#{$parts});
}
