<div *ngIf="plant">
   <div class="wrapper">
      <div class="flex aiFlexEnd">
         <div class="left">
            <h2 class="formTitle">{{ plant.name }}</h2>
            <h3>{{ plant.scientific }}</h3>
         </div>
         <div class="right">
            <h4>{{ plant.container }}</h4>
            <h4>{{ plant.zone }}</h4>
         </div>
      </div>
   </div>
   <div class="img">
      <img src="{{ plant.img }}" alt="" *ngIf="plant.img != ''">
      <img src="assets/img/dummy.jpg" alt="" *ngIf="plant.img == ''">
   </div>
   <div class="wrapper info">
      <p *ngIf="plant.sun != ''"><mat-icon>wb_sunny</mat-icon> {{ plant.sun }}</p>
      <p *ngIf="plant.wateringFrequency != ''"><mat-icon>opacity</mat-icon> {{ plant.wateringFrequency }} días</p>
      <p><mat-icon>kitchen</mat-icon><mat-icon *ngIf="plant.frost">check</mat-icon><mat-icon *ngIf="!plant.frost">close</mat-icon></p>
      <p *ngIf="plant.soil != ''"><mat-icon>view_comfy</mat-icon> {{ plant.soil }}</p>
      <p *ngIf="plant.flowering != ''"><mat-icon>local_florist</mat-icon> {{ plant.flowering }}</p>
      <p><mat-icon>cached</mat-icon><mat-icon *ngIf="plant.perishable">check</mat-icon><mat-icon *ngIf="!plant.perishable">close</mat-icon></p>
      <p *ngIf="plant.pests.length != 0"><mat-icon>emoji_nature</mat-icon> <span *ngFor="let pest of plant.pests; let isLast=last">{{ pest }}{{ isLast ? '' : ',&nbsp;' }}</span></p>
      <p *ngIf="plant.origin.length != 0"><mat-icon>public</mat-icon> <span *ngFor="let origin of plant.origin; let isLast=last">{{ origin }}{{ isLast ? '' : ', ' }}</span></p>
      <p *ngIf="plant.death != ''"><mat-icon>sentiment_dissatisfied</mat-icon> {{ plant.death | date: 'dd/MM/yyyy'}}</p>
      <p *ngIf="plant.deathCause != ''"><mat-icon>menu_book</mat-icon> {{ plant.deathCause }}</p>
      <div *ngIf="plant.gallery.length != 0">
         <img *ngFor="let picture of plant.gallery.length" src="picture">
      </div>
      <hr>
      <h5 class="buttonRight">Riegos <button mat-stroked-button color="secondary" routerLink="riego/crear">Añadir</button></h5>
      <div *ngIf="plant.watering.length != 0" class="waterings">
         <p *ngFor="let watering of wateringSortBy('date')"><mat-icon>ecop</mat-icon> <mat-icon *ngIf="watering.fertilized">check</mat-icon><mat-icon *ngIf="!watering.fertilized">close</mat-icon><mat-icon class="calendarIcon">calendar_today</mat-icon> {{ watering.date | date: 'dd/MM/yyyy'}}<button mat-icon-button aria-label="Remove" (click)="removeWatering(watering.date)"><mat-icon color="primary">delete</mat-icon></button></p>
      </div>
      <hr>
      <h5 class="buttonRight">Trasplantes <button mat-stroked-button color="secondary" routerLink="trasplante/crear">Añadir</button></h5>
      <div *ngIf="plant.transplant.length != 0" class="transplants">
         <p *ngFor="let transplant of plant.transplant"><mat-icon>open_in_new</mat-icon> {{ transplant | date: 'dd/MM/yyyy'}}<button mat-icon-button aria-label="Remove" (click)="removeTransplant(transplant)"><mat-icon color="primary">delete</mat-icon></button></p>
      </div>

   </div>
   <div class="wrapper">
      <div class="buttons floatRight">
         <button class="cancelButton" mat-raised-button (click)="goBack()">Atrás</button>
         <button color="warn" mat-raised-button (click)="deletePlant()">Borrar</button>
         <button color="accent" mat-raised-button routerLink="/mantenimiento/plantas/editar/{{ plant._id }}">Editar</button>
      </div>
   </div>
</div>