@import '_colors';
@import '_typography';

hr {
   color: lighten($secondaryLightLowest, 40);
   margin: 2em 40%;
}
.buttons {
   margin-top: 2rem;
}
.gallery {
   margin-top: 2em;
   img {
      width: 100%;
   }
   > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 3vw 0;
      > div {
         background-position: center;
         background-size: cover;
         margin-bottom: 3vw;
         margin-right: 3vw;
         height: 20vw;
         width: 20vw;
         &:hover {
            cursor: pointer;
            opacity: .8;
         }
         &:nth-child(4n) {
            margin-right: 0;
         }
      }
   }
}
.margTop {
   margin-top: 1.5rem;
}
.smIcon {
   font-size: $fontSize-s;
   height: $fontSize-s;
   width: $fontSize-s;
}
.tabs {
   p {
      align-items: center;
      color: $secondaryLightHigh;
      display: flex;
      font-size: $fontSize-s;
      margin-bottom: .5em;
      .mat-icon {
         margin-right: .25em;
      }
   }
}
.transplants, .waterings {
   margin-bottom: 1em;
   p {
      align-items: center;
      display: flex;
      font-size: $fontSize-s;
      button {
         margin-left: 3em;
      }
      .iconMargRight {
         margin-right: .25em;
      }
      .fertilizer {
         margin-left: 1em;
      }
   }
}