<mat-tab-group [color]="'primary'" [backgroundColor]="'primary'"
(selectedTabChange)="changeSelectedIndex($event)" [selectedIndex]="selectedIndex">
   <mat-tab label="Libros">
      <h2 class="mat-title flex">Libros <span matBadge="{{ booksCount }}"></span></h2>
      <form>
         <mat-form-field>
            <input matInput type="text" placeholder="Buscar" [(ngModel)]="filterBook" name="filterBook">
            <button mat-button *ngIf="filterBook" matSuffix mat-icon-button aria-label="Clear" (click)="filterBook=''">
               <mat-icon>close</mat-icon>
            </button>
         </mat-form-field>
      </form>
      <mat-card mat-ripple *ngFor="let book of books | collectionFilter: filterBook" routerLink="/cultura/libros/{{ book._id }}">
         <mat-card-content>
            <div class="left">
               <h3>{{ book.title }}</h3>
               <h4>{{ book.author }}</h4>
            </div>
            <div class="right">
               <h5>{{ book.category }}</h5>
            </div>
         </mat-card-content>
      </mat-card>
      <button mat-mini-fab>
         <mat-icon routerLink="/cultura/libros/crear">add</mat-icon>
      </button>
   </mat-tab>
   <mat-tab label="Películas">
      <h2 class="mat-title flex">Películas <span matBadge="{{ moviesCount }}"></span></h2>
      <form>
         <mat-form-field>
            <input matInput type="text" placeholder="Buscar" [(ngModel)]="filterMovie" name="filterMovie">
            <button mat-button *ngIf="filterMovie" matSuffix mat-icon-button aria-label="Clear" (click)="filterMovie=''">
               <mat-icon>close</mat-icon>
            </button>
         </mat-form-field>
      </form>
      <mat-card mat-ripple *ngFor="let movie of movies | collectionFilter: filterMovie" routerLink="/cultura/peliculas/{{ movie._id }}">
         <mat-card-content>
            <div class="left">
               <h3>{{ movie.title }}</h3>
               <h4>{{ movie.director }}</h4>
            </div>
            <div class="right">
               <h5>{{ movie.year }}</h5>
            </div>
         </mat-card-content>
      </mat-card>
      <button mat-mini-fab>
         <mat-icon routerLink="/cultura/peliculas/crear">add</mat-icon>
      </button>
   </mat-tab>
   <mat-tab tab label="Series">
      <h2 class="mat-title flex">Series <span matBadge="{{ tvSeriesCount }}"></span></h2>
      <form>
         <mat-form-field>
            <input matInput type="text" placeholder="Buscar" [(ngModel)]="filterTvSerie" name="filterTvSerie">
            <button mat-button *ngIf="filterTvSerie" matSuffix mat-icon-button aria-label="Clear" (click)="filterTvSerie=''">
               <mat-icon>close</mat-icon>
            </button>
         </mat-form-field>
      </form>
      <mat-card mat-ripple *ngFor="let tvSerie of tvSeries | collectionFilter: filterTvSerie" routerLink="/cultura/series/{{ tvSerie._id }}">
         <mat-card-content>
            <div class="left">
               <h3>{{ tvSerie.title }}</h3>
               <h4>{{ tvSerie.director }}</h4>
            </div>
            <div class="right">
               <h5>{{ tvSerie.lastSeen || '-' }}</h5>
            </div>
         </mat-card-content>
      </mat-card>
      <button mat-mini-fab>
         <mat-icon routerLink="/cultura/series/crear">add</mat-icon>
      </button>
   </mat-tab>
</mat-tab-group>