@import '../../../variables.scss';
h2 {
   padding: 1.5em 1em 0;
}
mat-card-content.mat-card-content {
   h3, h4 {
      color: $secondary;
   }
   h3 {
      font-size: 1.125rem;
      padding: 0;
      margin-bottom: .5rem;
   }
   h4 {
      font-size: .825rem;
      font-style: italic;
      font-weight: 300;
   }
   h5 {
      text-align: right;
      font-size: .825rem;
      color: $secondaryLightLowest;
   }
   .left {
      width: 75%;
   }
   .right {
      width: 25%;
   }
}
mat-form-field {
   box-sizing: border-box;
   padding: 0 1em;
}