<mat-toolbar color="primary" [ngClass]="{'invisible': _router.url == '/login'}">
   <mat-toolbar-row>
      <button mat-icon-button class="mr1" (click)="toggleSidenav()">
         <mat-icon *ngIf="!opened">menu</mat-icon>
         <mat-icon *ngIf="opened">close</mat-icon>
      </button>
      <a routerLink='/' (click)="opened=false">
         <h1>Iron Hand</h1>
      </a>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
         <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
         <button mat-menu-item *ngFor="let item of menuItems" (click)="selectMenuItem(item.name)">
            <mat-icon>{{ item.icon}}</mat-icon>
            <span>{{ item.name }}</span>
         </button>
      </mat-menu>
   </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container [ngClass]="{'height': _router.url == '/login'}">
   <mat-sidenav #sidenav mode="over" [(opened)]="opened" role="navigation">
      <div class="sidenav-hero">
         <p class="user mat-title" *ngIf="user">{{ user }}</p>
         <p class="date mat-subtitle" *ngIf="date">{{ date }}</p>
      </div>
      <mat-nav-list>
         <a mat-list-item routerLink="tareas" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
            (click)="opened=false">
            <mat-icon>alarm_on</mat-icon> Tareas
         </a>
         <a mat-list-item routerLink="cultura" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
            (click)="opened=false">
            <mat-icon>library_books</mat-icon>Cultura
         </a>
         <a mat-list-item routerLink="mantenimiento" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
            (click)="opened=false">
            <mat-icon>store</mat-icon>Mantenimiento
         </a>
         <a mat-list-item routerLink="aprovisionamiento" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
            (click)="opened=false">
            <mat-icon>local_dining</mat-icon>Aprovisionamiento
         </a>
         <a mat-list-item routerLink="cuerpo" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
            (click)="opened=false">
            <mat-icon>accessibility</mat-icon>Cuerpo
         </a>
         <a mat-list-item routerLink="ensayos" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
            (click)="opened=false">
            <mat-icon>queue_music</mat-icon>Ensayos
         </a>
         <a mat-list-item routerLink="jardin-de-la-alegria" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
            (click)="opened=false">
            <mat-icon>power</mat-icon>Jardín de la alegría
         </a>
      </mat-nav-list>
   </mat-sidenav>
   <mat-sidenav-content>
      <router-outlet></router-outlet>
   </mat-sidenav-content>
</mat-sidenav-container>
