@import '_colors';
@import '_typography';

mat-sidenav-container {
   bottom: 0;
   height: calc(100vh - 64px);
   left: 0;
   position: absolute;
   right: 0;
   top: 64px;
}
mat-sidenav {
   max-width: 300px;
   width: 80vw;
}
mat-toolbar {
   a {
      color: white;
      text-decoration: none;
   }
}
.mat-nav-list .mat-list-item {
   color: $secondaryLightLow;
   &:focus {
      background: none;
      box-sizing: border-box;
      border: 1px dashed $primaryLightLowest;
   }
   &.active-link {
      background: $lightBackground;
   }
   &:hover {
      background: $primaryLightLowest;
      color: $primary;
   }
   .mat-icon {
      margin-right: .5em;
   }
}
.mr1 {
   margin-right: 1em;
}
.sidenav-hero {
   background: $secondaryLightHigh;
   padding: 3em 1em;
   .date, .user {
      color: white;
   }
   .date {
      font-size: $fontSize-s;
   }
   .user {
      font-size: $fontSize-m;
      @include marginBottom($fontSize-m, 3);
   }
}
.spacer {
   flex: 1 1 auto;
}
@media (max-width: 599px) {
   mat-sidenav-container {
      height: calc(100vh - 56px);
      top: 56px;
   }
}
/* Used for show/hide the topbar */
.height {
   height: 100vh;
   top: 0;
}
.invisible {
   display: none;
}