@import '_colors';
@import '_typography';

p {
	margin-bottom: $fontSize-m;
	&:last-child {
		margin-bottom: 0;
	}
}
.data, .mat-chip {
	color: $secondaryLightLow;
	font-size: $fontSize-s;
}
.fifty {
	width: 48%;
}
.formTitle {
	margin-bottom: .5em;
}
.mat-chip {
	font-weight: 400;
	padding: 0 .8em;
	text-transform: capitalize;
}

