@import '_colors';
@import '_typography';

h2,
h3 {
	color: $secondary;
	padding: 0;
}
h3,
h4 {
	font-weight: 300;
}
h2 {
	margin-bottom: .5rem;
}
h3 {
	color: $secondaryLightLow;
	font-size: $fontSize-s;
}
h4 {
	text-align: right;
	font-size: $fontSize-s;
	color: $secondaryLightLowest;
}
img {
	box-sizing: border-box;
	padding: 0 1rem;
	width: 100%;
}
.flex {
	align-items: baseline;
	display: flex;
}
.left {
	width: 75%;
}
.right {
	width: 25%;
}
.data {
	color: $secondaryLightLow;
	font-size: $fontSize-s;
}
.tvSeriedata p {
	margin-bottom: $fontSize-m;
}
