@import '../../../../variables.scss';
h2,
h3 {
	color: $secondary;
	padding: 0;
}
h3,
h4 {
	font-weight: 300;
}
h2 {
	margin-bottom: .5rem;
}
h3 {
	font-size: 1rem;
}
h4 {
	text-align: right;
	font-size: .875rem;
	color: $secondaryLightLowest;
	text-transform: uppercase;
}
.categories,
.cast {
	line-height: 1.25em;
	margin-bottom: 1em;
	span {
		color: $secondaryLightLow;
		font-size: .875rem;
	}
}
.img {
	img {
		width: 100%;
	}
}
.left {
	width: 75%;
}
.right {
	width: 25%;
}
.data {
	color: $secondaryLightLow;
	font-size: .875rem;
}
.tvSeriedata p {
	margin-bottom: 1.25em;
}
