form {
   left: 50%;
   max-width: 20em;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
}
mat-form-field {
   width: 100%;
}
.flexCont {
   align-items: flex-end;
   display: flex;
   justify-content: space-between;
   margin-top: 1.5em;
}