@import '_colors';

form {
   left: 50%;
   max-width: 20em;
   position: absolute;
   top: 50%;
   transform: translate(-50%, -50%);
}
mat-form-field {
   width: 100%;
}
a {
   color: $secondary;
   font-style: italic;
   text-decoration: none;
   &:hover {
      text-decoration: underline;
   }
}
.formFooter {
   align-items: baseline;
   display: flex;
   justify-content: space-between;
   margin-top: 1.5em;
}