<div *ngIf="cocktail">
   <div class="wrapper">
      <div class="flex aiFlexEnd">
         <div class="left">
            <h2 class="mat-title">{{ cocktail.name }}</h2>
         </div>
         <div class="right">
            <h4></h4>
         </div>
      </div>
   </div>
   <img [src]="cocktail.img">
   <div class="wrapper">
      <ul>
         <li *ngFor="let ingredient of cocktail.ingredients">{{ ingredient.parts }} {{ ingredient.name }}</li>
      </ul>
      <ol>
         <li *ngFor="let instruction of cocktail.mixture">{{ instruction }}</li>
      </ol>
   </div>
   <div class="wrapper">
      <div class="buttons floatRight">
         <button class="cancelButton" mat-raised-button (click)="goBack()">Atrás</button>
         <button color="warn" mat-raised-button (click)="deleteCocktail()">Borrar</button>
         <button color="accent" mat-raised-button routerLink="/aprovisionamiento/coctel/editar/{{ cocktail._id }}">Editar</button>
      </div>
   </div>
</div>