<ng-scrollbar>
   <div *ngIf="cocktail">
      <div class="wrapper">
         <h2 class="formTitle">{{ cocktail.name }}</h2>
         <img [src]="cocktail.img">
         <h3>Ingredientes:</h3>
         <ul>
            <li *ngFor="let ingredient of cocktail.ingredients">{{ ingredient.parts }} {{ ingredient.name }}</li>
         </ul>
         <h3>Instrucciones:</h3>
         <ol>
            <li *ngFor="let instruction of cocktail.mixture">{{ instruction }}</li>
         </ol>
         <div class="buttons floatRight">
            <button class="cancelButton" mat-raised-button (click)="goBack()">Atrás</button>
            <button color="warn" mat-raised-button (click)="deleteCocktail()">Borrar</button>
            <button color="accent" mat-raised-button routerLink="/aprovisionamiento/coctel/editar/{{ cocktail._id }}">Editar</button>
         </div>
      </div>
   </div>
</ng-scrollbar>