@import '_colors';

.categories,
.cast {
	line-height: 1.1;
	margin-bottom: 1em;
	span {
		color: $secondaryLightLow;
		font-size: .875rem;
	}
}
.left {
	width: 67%;
}
.rating {
	margin: 1em 0;
}
.right {
	width: 30%;
}
.seenDate {
	padding-left: 2em;
	color: $secondaryLightLow;
}
