<div class="wrapper">
   <h2 class="mat-title">Añadir riego</h2>
   <form [formGroup]="addWateringForm">
      <mat-form-field>
         <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Fecha">
         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
         <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-slide-toggle (change)="fertilized = !fertilized">Fertilizante</mat-slide-toggle>
   </form>
   <div class="flex mT15">
      <mat-icon aria-hidden="false" aria-label="Formulario incorrecto" *ngIf="addWateringForm.status=='INVALID'" color="primary">block</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Formulario incorrecto" *ngIf="addWateringForm.status=='VALID'" color="accent">thumb_up</mat-icon>
      <div class="buttons">
         <button class="cancelButton" mat-raised-button (click)="goBack()">Cancelar</button>
         <button color="primary" type="submit" mat-raised-button [disabled]="!addWateringForm.valid" (click)="saveWatering()">Crear</button>
      </div>
   </div>
</div>