<mat-tab-group [color]="'primary'" [backgroundColor]="'primary'">
   <mat-tab label="Ensayos">
      <ng-scrollbar>
         <div class="wrapper">
            <h2 class="sectionTitle">Ensayos <span matBadge="{{ rehearsalsCount }}"></span></h2>
            <p *ngIf="rehearsalsCount == 0">Todavía no hay ensayos, ¡crea uno!</p>
         </div>
         <mat-card mat-ripple *ngFor="let rehearsal of rehearsals" routerLink="/ensayos/ensayo/editar/{{ rehearsal._id }}">
            <mat-card-content>
               <div class="rehearsal">
                  <div class="leftI">
                     <p class="date">{{ rehearsal.date | dateFilter | uppercase }}</p>
                  </div>
                  <div class="rightI sheets">
                     <div class="left">
                        <p>{{ rehearsal.instrument }}</p>
                        <ul>
                           <li *ngFor="let sheet of rehearsal.sheets">
                              {{ sheet.name }}, {{ sheet.time }} min.
                           </li>
                        </ul>
                     </div>
                     <div class="right">
                        <p class="time">{{ rehearsal.time }} min.</p>
                     </div>
                  </div>
               </div>
            </mat-card-content>
         </mat-card>
      </ng-scrollbar>
      <button mat-mini-fab>
         <mat-icon routerLink="/ensayos/ensayo/crear">add</mat-icon>
      </button>
   </mat-tab>
</mat-tab-group>