<mat-tab-group [color]="'primary'" [backgroundColor]="'primary'"
(selectedTabChange)="changeSelectedIndex($event)" [selectedIndex]="selectedIndex">
   <mat-tab label="Riegos">
      <div class="wrapper">
         <h2 class="sectionTitle">Riegos <span matBadge="{{ wateringsCount }}"></span></h2>
      </div>
      <mat-card mat-ripple *ngFor="let watering of waterings" routerLink="/jardin-de-la-alegria/riegos/actualizar/{{ watering._id }}" class="watering">
         <mat-card-content>
            <div class="flexBBw">
               <p>{{ watering.container }}</p>
               <p class="date">{{ watering.date | dateFilter | uppercase }}</p>
            </div>
            <ul>
               <li *ngFor="let fertilizers of watering.fertilizer"> 
                  <p *ngIf="fertilizers.grow">{{ fertilizers.grow }} ml Crecimiento</p>
                  <p *ngIf="fertilizers.flower">{{ fertilizers.flower }} ml Floración</p>
                  <p *ngIf="fertilizers.root">{{ fertilizers.root }} ml Complejo radicular</p>
                  <p *ngIf="fertilizers.powerzyme">{{ fertilizers.powerzyme }} ml Powerzyme</p>
                  <p *ngIf="fertilizers.supervit">{{ fertilizers.supervit }} ml SuperVit</p>
                  <p *ngIf="fertilizers.delta9">{{ fertilizers.delta9 }} ml Delta 9</p>
                  <p *ngIf="fertilizers.boost">{{ fertilizers.boost }} ml Boost</p>
                  <p *ngIf="fertilizers.pk1314">{{ fertilizers.pk1314 }} ml PK 13/14</p>
               </li>
            </ul>
         </mat-card-content>
      </mat-card>
   </mat-tab>
   <mat-tab label="Plantas">
      <mat-tab-group [color]="'accent'" [backgroundColor]="'accent'" class="bottomTabs" (selectedTabChange)="changeSelectedIndex2($event)" [selectedIndex]="selectedIndex2">
         <mat-tab label="Plantas">
            <div class="wrapper">
               <h2 class="sectionTitle">Plantas <span matBadge="{{ plantsCount }}"></span></h2>
            </div>
            <mat-card mat-ripple *ngFor="let plant of plants" routerLink="/jardin-de-la-alegria/plantas/actualizar/{{ plant._id }}" class="plant">
               <mat-card-content>
                  <div class="flexBBw">
                     <div class="left">
                        <p class="cardMain">{{ plant.name }}</p>
                        <p class="cardSecondary">{{ plant.container }}</p>
                     </div>
                     <div class="right">
                        <p class="cardTertiary">{{ plant.coords }}</p>
                     </div>
                  </div>
               </mat-card-content>
            </mat-card>
         </mat-tab>
         <mat-tab label="Semillas">
            <div class="wrapper">
               <h2 class="sectionTitle">Semillas <span matBadge="{{ seedsCount }}"></span></h2>
            </div>
            <mat-card mat-ripple *ngFor="let seed of seeds" routerLink="/jardin-de-la-alegria/semillas/{{ seed._id }}" class="seed">
               <mat-card-content>
                     <div class="flexBBw">
                        <div class="left">
                           <h3 class="cardMain">{{ seed.name }}</h3>
                           <h4 class="cardSecondary">{{ seed.flowering }} días</h4>
                        </div>
                        <div class="right">
                           <h5 class="cardTertiary">I/S: {{ seed.indicaSativa }}</h5>
                        </div>
                     </div>
                  </mat-card-content>
               </mat-card>
            </mat-tab>
      </mat-tab-group>
   </mat-tab>
</mat-tab-group>
<button mat-mini-fab (click)="addSomething()">
   <mat-icon>add</mat-icon>
</button>