<mat-tab-group [color]="primary" [backgroundColor]="primary"
(selectedTabChange)="changeSelectedIndex($event)" [selectedIndex]="selectedIndex">
   <mat-tab label="Riegos">
      <div class="wrapper">
         <h2 class="mat-title flex">Riegos <span matBadge="{{ wateringsCount }}"></span></h2>
      </div>
      <mat-card mat-ripple *ngFor="let watering of waterings" routerLink="/jardin-de-la-alegria/riegos/actualizar/{{ watering._id }}" class="watering">
         <mat-card-content>
            <div class="left">
               <h3 class="mat-subheading-2">{{ watering.date | date: 'dd-MM-yyyy' }}</h3>
               <h4 class="mat-caption">{{ watering.container | uppercase }}</h4>
            </div>
            <div class="right">
               <div *ngFor="let fertilizers of watering.fertilizer">
                  <p class="mat-body" *ngIf="fertilizers.grow">Crecimiento: {{ fertilizers.grow }} ml</p>
                  <p class="mat-body" *ngIf="fertilizers.flower">Floración: {{ fertilizers.flower }} ml</p>
                  <p class="mat-body" *ngIf="fertilizers.root">Raíces: {{ fertilizers.root }} ml</p>
                  <p class="mat-body" *ngIf="fertilizers.powerzyme">Powerzyme: {{ fertilizers.powerzyme }} ml</p>
                  <p class="mat-body" *ngIf="fertilizers.supervit">Supervit: {{ fertilizers.supervit }} ml</p>
                  <p class="mat-body" *ngIf="fertilizers.delta9">Delta 9: {{ fertilizers.delta9 }} ml</p>
                  <p class="mat-body" *ngIf="fertilizers.boost">Boost: {{ fertilizers.boost }} ml</p>
                  <p class="mat-body" *ngIf="fertilizers.pk1314">PK 13-14: {{ fertilizers.pk1314 }} ml</p>
               </div>
            </div>
         </mat-card-content>
      </mat-card>
   </mat-tab>
   <mat-tab label="Plantas">
      <mat-tab-group [color]="accent" [backgroundColor]="accent" class="bottomTabs" (selectedTabChange)="changeSelectedIndex2($event)" [selectedIndex]="selectedIndex2">
         <mat-tab label="Plantas">
            <div class="wrapper">
               <h2 class="mat-title flex">Plantas <span matBadge="{{ plantsCount }}"></span></h2>
            </div>
            <mat-card mat-ripple *ngFor="let plant of plants" routerLink="/jardin-de-la-alegria/plantas/{{ plant._id }}" class="plant">
               <mat-card-content>
                  <div class="left">
                     <h3 class="mat-subheading-2">{{ plant.name }}</h3>
                     <h4 class="mat-caption">{{ plant.container }}</h4>
                  </div>
                  <div class="right">
                     <h5 class="mat-caption">{{ plant.coords }}</h5>
                  </div>
               </mat-card-content>
            </mat-card>
         </mat-tab>
         <mat-tab label="Semillas">
               <div class="wrapper">
                  <h2 class="mat-title flex">Semillas <span matBadge="{{ seedsCount }}"></span></h2>
               </div>
               <mat-card mat-ripple *ngFor="let seed of seeds" routerLink="/jardin-de-la-alegria/semillas/{{ seed._id }}" class="seed">
                  <mat-card-content>
                     <div class="left">
                        <h3 class="mat-subheading-2">{{ seed.name }}</h3>
                        <h4 class="mat-caption">{{ seed.bank }}</h4>
                     </div>
                     <div class="right">
                        <h5 class="mat-caption">{{ seed.indicaSativa }} (I/S)</h5>
                        <h5 class="mat-caption">{{ seed.flowering }} días</h5>
                     </div>
                  </mat-card-content>
               </mat-card>
            </mat-tab>
      </mat-tab-group>
   </mat-tab>
</mat-tab-group>
<button mat-mini-fab (click)="addSomething()">
   <mat-icon>add</mat-icon>
</button>