<div class="wrapper">
  <h2 class="mat-title">Crear tarea a hacer</h2>
  <form [formGroup]="addTaskForm" class="addTask-form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Nombre de tarea" formControlName="todoName" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Categoría" formControlName="category" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Prioridad" formControlName="priority" required>
    </mat-form-field>
    <div class="flexCont">
      <mat-icon aria-hidden="false" aria-label="Formulario incorrecto" *ngIf="addTaskForm.status=='INVALID'" color="primary">block</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Formulario incorrecto" *ngIf="addTaskForm.status=='VALID'" color="accent">thumb_up</mat-icon>
      <div class="buttons">
        <button mat-raised-button (click)="goBack()">Cancelar</button>
        <button mat-raised-button type="submit" [disabled]="!addTaskForm.valid" color="accent">Crear</button>
      </div>
    </div>
  </form>
</div>