/* You can add global styles to this file, and also import other style files */
@import './variables.scss';
body {
	overflow: hidden;
}
h2,
h3,
h4,
p {
	color: $secondary;
}
h3 {
	padding: 0 1rem;
}
ul {
	display: flex;
}
li {
	background: white;
	box-sizing: border-box;
	width: 23%;
	margin: 1% 2em 0;
	padding: 2em;
}
mat-card.mat-card {
	align-items: baseline;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: .5em 1em;
}
mat-card-content.mat-card-content {
	display: flex;
	width: 100%;
	.left {
		width: 25%;
	}
	.right {
		width: 75%;
	}
}
mat-form-field {
	width: 100%;
}
mat-list {
	width: 30%;
	margin: 1em 1.5%;
}
mat-list h3 {
	box-sizing: border-box;
	font-weight: normal;
	margin-bottom: 1em;
	padding: 1em;
}
mat-sidenav-container {
	height: calc(100vh - 32px) !important;
	padding-bottom: 5em;
}
mat-tab-header .mat-tab-label-active {
	color: $primary;
}
.mat-tab-group.mat-background-accent.bottomTabs .mat-tab-header {
	background: $primary;
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 2;
	.mat-tab-label-active,
	.mat-tab-label-content {
		color: white;
		opacity: 1;
	}
}
.mat-tab-labels .mat-tab-label-active {
	opacity: 1;
}
.buttons .mat-raised-button.cancelButton {
	background: $secondaryLightLowest;
	color: white;
}
.category {
	font-size: .75em !important;
	padding-top: .5em !important;
	font-style: italic;
	text-transform: uppercase;
}
.buttons button {
	margin-bottom: 1em;
	margin-right: 1em;
	&:last-child {
		margin-right: 0;
	}
}
.flex {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.aiFlexEnd {
	align-items: flex-end;
}
.jcFlexEnd {
	justify-content: flex-end;
}
.floatRight {
	display: flex;
	justify-content: flex-end;
}
.hundred {
	width: 100%;
}
.mat-h2,
.mat-title,
.mat-typography h2 {
	font: 500 20px/1.2 "Fira Sans", sans-serif;
}
.mat-mini-fab .mat-icon,
.mat-toolbar-row .mat-icon {
	color: white;
}
.mT15 {
	margin-top: 1.5rem;
}
.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
	right: 0;
}
.mat-card-content {
	cursor: pointer;
}
.mat-card .mat-card-content {
	margin-bottom: 0;
}
.mat-checkbox-checked {
	opacity: .6;
}
.mat-drawer-content {
	height: 94vh !important;
	overflow-x: hidden !important;
}
.mat-list-base .mat-list-option {
	color: $secondary;
}
.mat-list-item.mat-list-option.completed {
	color: $secondaryLightLowest;
	p {
		color: $secondaryLightLowest;
	}
	.mat-pseudo-checkbox::after {
		border-bottom: 2px solid $secondaryLightLowest;
		border-left: 2px solid $secondaryLightLowest;
		left: 3px;
		height: 5px;
		opacity: 1;
		top: 0;
		transform: rotate(-45deg);
		width: 12px;
	}
	.mat-pseudo-checkbox {
		color: $secondaryLightLowest;
	}
}
.mat-mini-fab {
	bottom: 1em;
	position: fixed !important;
	right: 1em;
	z-index: 5;
}
.pad {
	padding: 0 1em;
}
.wrapper {
	padding: 1.5em 1em 1em;
}
.mat-tab-group {
	height: 100%;
}
.mat-tab-body-wrapper {
	box-sizing: border-box;
	flex-grow: 1;
	flex-wrap: wrap;
	overflow: auto !important;
	padding-bottom: 4em;
}

.mat-tab-body {
	display: flex !important;
	flex-direction: column;
}

.mat-tab-body-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
