@import '_colors';
@import '_typography';

body {
	color: $secondary;
	overflow: hidden;
	font-family: 'Fira Sans', sans-serif;
	.mat-toolbar {
		a:focus {
			background: rgba(0, 0, 0, .1);
			outline: none;
		}
		h1 {
			font-family: 'Courgette', cursive;
			font-size: $fontSize-m;
		}
	}
}
h2,
h3,
h4,
p {
	color: $secondary;
}
h2 {
	color: $secondary;
	font-size: $fontSize-l;
	padding: 0;
}
button {
	font-size: $fontSize-s !important;
}
.data {
	color: $secondaryLightLow;
	font-size: $fontSize-s;
}
.detailSecondary {
	color: $secondaryLightMedium;
	font-size: $fontSize-s;
	padding: 0;
}
.detailSecondary,
.detailTertiary {
	font-weight: 300;
}
.detailTertiary {
	text-align: right;
	font-size: $fontSize-xs;
	color: $secondaryLightLow;
}
.formFooter {
	@extend .flexCBw;
	margin-top: 1rem;
}
.formTitle {
	@extend .sectionTitle;
	margin-bottom: 1.5rem;
}
.img {
	img {
		margin: 1.5rem 0;
		width: 100%;
	}
}
.sectionTitle {
	@extend .flexCBw;
	font-weight: 500;
	padding-bottom: .5rem;
}
/* Utility */
.flexCC {
	align-items: center !important;
	display: flex !important;
	flex-wrap: wrap;
	justify-content: center !important;
}
.flexBBw {
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.flexCBw {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.floatRight {
	float: right;
}
.left, .rightI {
	width: 67%;
}
.leftI, .right {
	width: 30%;
}
.left {
	margin-right: 3%;
}
.rightI {
	margin-left: 3%;
}
.mb1 {
	margin-bottom: 1em;
}
.pt0 {
	padding-top: 0;
}
.wrapper {
	padding: 1.5em 1em 1em;
}
.wrapper-nobottom {
	padding: 1.5em 1em 0 1em;
}
/* Material components */
.buttons {
	margin-bottom: 1em;
	button {
		margin: $fontSize-s $fontSize-s $fontSize-s 0;
		&:last-child {
			margin-right: 0;
		}
	}
	.mat-raised-button.cancelButton {
		background: $secondaryLightLowest;
		color: white;
	}
}
.cdk-overlay-container {
	z-index: 1 !important;
}
.hidden {
	height: 0;
	width: 0;
	visibility: hidden;
}
.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
	right: 0;
}
.mat-card {
	cursor: pointer;
	margin: .5em 1em;
	.mat-card-content {
		align-items: baseline;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0;
		width: 100%;
		.cardMain {
			font-size: $fontSize-m;
			line-height: 1.1;
			padding: 0;
			margin-bottom: .5rem;
			width: 100%;
		}
		.cardSecondary {
			color: $secondaryLightMedium;
			font-size: $fontSize-xs;
			line-height: 1.1;
			margin-bottom: 0;
		}
		.cardTertiary {
			text-align: right;
			font-size: $fontSize-s;
			color: $secondaryLightLow;
			font-weight: 300;
		}
	}
}
.mat-card:last-child {
	margin-bottom: 4em;
}
.mat-chip-list.right .mat-chip-list-wrapper {
	justify-content: end;
}
.mat-form-field {
	width: 100%;
}
.mat-input-element {
	color: $secondary;
}
.mat-mini-fab {
	@extend .flexCC;
	bottom: 1em;
	position: fixed !important;
	right: 1em;
	z-index: 5;
	.mat-button-wrapper {
		@extend .flexCC;
	}
}
.mat-slide-toggle {
	padding: .5em 0;
}
.mat-slider-horizontal {
   .mat-slider-thumb-container {
      left: 5px;
	}
	.mat-slider-track-background {
		background-color: rgba(0, 0, 0, 0.42);
	}
	.mat-slider-track-wrapper {
		height: 1px !important;
	}
   .mat-slider-wrapper {

		height: 1px !important;
      left: 0 !important;
      right: 0 !important;
      width: 100%;
   }
}
.mat-tab-group, .mat-tab-body-wrapper {
	height: 100%;
}
.mat-tab-label {
	transition: .5s opacity;
}
.mat-tab-label:hover {
	color: white;
	opacity: 1;
}
.mat-tab-group.mat-background-primary .mat-tab-label {
	&.-active .mat-tab-label-content{
		color: $secondary;
	}
}
.mat-tab-group.mat-primary.mat-background-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary.mat-background-primary .mat-ink-bar {
	background-color: $primary;
}
.mat-tab-group.mat-background-primary .mat-tab-header {
	background-color: $lightestBackground;
}
.mat-tab-group.mat-background-accent.bottomTabs {
	.mat-ink-bar {
		background-color: $lightBackground;
		position: absolute;
		top: 0;
	}
	.mat-tab-header {
		background: $primary;
		bottom: 0;
		position: fixed;
		width: 100%;
		z-index: 2;
		.mat-tab-label-active,
		.mat-tab-label-content {
			color: white;
			opacity: 1;
		}
	}
	.mat-tab-labels {
		position: relative;
	}
}
.mat-tab-group.mat-background-primary {
	.mat-tab-label-active {
		opacity: 1;
		.mat-tab-label-content {
			color: $primary;
		}
	}
	.mat-tab-label-content {
		color: $secondaryLightLow;
		.mat-tab-label-active,
		.mat-tab-label-content {
			color: $secondary;
			opacity: 1;
		}
	}
}
.mat-tab-labels {
	border-bottom: 1px solid $lightBackground;
}
.tabs .mat-tab-label:hover {
   color: $secondary !important;
}
.todo-menu .mat-stroked-button {
	background: #FAFAFA;
	font-size: $fontSize-xxs !important;
	font-weight: 300;
	&:last-child {
		margin-bottom: 0;
	}
 }