$secondaryLightLowest: #8A9296;
$secondaryLightLow: #4F5B62;
$secondaryLightMedium: #414D54;
$secondaryLightHigh: #344046;
$secondary: #263238;
$secondaryDarkLower: #19252B;
$secondaryDarkMedium: #0D171F;
$secondaryDarkHigh: #000A12;
$secondaryDarkHighest: #000;
$primaryLightLowest: #FAC6C1;
$primaryLightLower: #F58E83;
$primaryLightLow: #F05545;
$primaryLightMedium: #DD4237;
$primaryLightHigh: #CA2F2A;
$primary: #B71C1C;
$primaryDarkLow: #A41313;
$primaryDarkMedium: #920909;
$primaryDarkHigh: #7F0000;
$primaryDarker: #550000;